*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --white: #FFFFFF;
    --black: #0B132A;
    --yellow: #FEA250;
    --bronze: #F0D4A3;
    --orange: #FF823F;
    --blue: #084D6E;
    --dark-blue: #0B132A;
    --gray: #4F5665;
}

body, input, textarea, button{
    font: 500 1rem Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--black);
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

button{
    cursor: pointer;
}